* {
  box-sizing: border-box;
}

:root {
  --grey-bg-color: #c6c6c6;
  --grey-border-color: #808080;
  --white-border-color: #FFFFFF;
  --num-color: #000000;
  --num-1-color: #244afc;
  --num-2-color: #407f07;
  --num-3-color: #fe0000;
  --cell-size: 30px;
  --grid-height: calc(var(--cell-size) * 9);
  --grid-width: calc(var(--cell-size) * 9);

}

body {
  background-color: var(--grey-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid-visual-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--grid-width) + 20px);
  height: calc(var(--grid-height) + 20px);
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  /*border-top: 3px solid var(--white-border-color);*/
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
}

.grid {
  box-sizing: unset;
  /*width: var(--grid-size-beginner);*/
  /*height: var(--grid-size-beginner);*/
  width: var(--grid-width);
  height: var(--grid-height);
  display: flex;
  flex-wrap: wrap;
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 20px;
}

.cell-closed {
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
}

.cell-active {
  background-color: var(--grey-bg-color);
  border-left: 2px solid var(--grey-border-color);
  border-top: 2px solid var(--grey-border-color);
  border-right: none;
  border-bottom: none;
}

.cell-opened {
  background-color: var(--grey-bg-color);
  border-left: 2px solid var(--grey-border-color);
  border-top: 2px solid var(--grey-border-color);
  cursor: default;
}

.cell-flag {
  background-image: url(../svg/flag.svg);
  background-size: cover;
}

.cell-mine {
  background-image: url(../svg/mine.svg);
  background-size: cover;
}

.cell-mine-clicked {
  background-color: #ff0000;
}

.cell-flag-mine-clicked {
  background-color: #ffa0a0;
  background-image: url(../svg/flag.svg);
}

.difficulty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--grid-width) + 20px);
  height: fit-content;
  /*padding: 5px;*/
  padding: 7px 5px 5px 5px;
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  /*border-bottom: 3px solid var(--grey-border-color);*/
}

input[type='radio'] {
  appearance: none;
  margin: 0;
}

.difficulty-btn {
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
  padding: 5px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

.difficulty-btn:active {
  background-color: var(--grey-bg-color);
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

input[type='radio']:checked + .difficulty-btn {
  background-color: var(--grey-bg-color);
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

input[id='beginner']:checked + .difficulty-btn {
  color: var(--num-1-color);
}

input[id='intermediate']:checked + .difficulty-btn {
  color: var(--num-2-color);
}

input[id='expert']:checked + .difficulty-btn {
  color: var(--num-3-color);
}

.game-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(var(--grid-width) + 20px);
  height: fit-content;
  padding: 5px;
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  /*border-top: 3px solid var(--white-border-color);*/
  border-right: 3px solid var(--grey-border-color);
  /*border-bottom: 3px solid var(--grey-border-color);*/
}

.mines, .timer {
  min-width: 105px;
  padding: 5px 6px 5px 6px;
  text-align: center;
  background-color: var(--grey-bg-color);
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
}

.restart-btn {
  display: block;
  width: 42px;
  height: 42px;
  background-color: var(--grey-bg-color);
  background-image: url(../svg/smiley.svg);
  background-size: cover;
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
  cursor: pointer;
}

.restart-btn-normal {
  background-image: url(../svg/smiley.svg);
}

.restart-btn-won {
  background-image: url(../svg/cool.svg);
}

.restart-btn-lost {
  background-image: url(../svg/dead.svg);
}

.restart-btn:active {
  background-color: var(--grey-bg-color);
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

.leaderboard-visual-wrapper {
  padding: 7px;
  width: fit-content;
  height: fit-content;
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
}

.leaderboard {
  width: var(--grid-width);
  border-collapse: collapse;
  background-color: var(--grey-bg-color);
  font-family: "Chakra Petch", sans-serif;
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

.leaderboard th {
  background-color: var(--grey-bg-color);
  color: #000000;
  padding: 8px;
}

.leaderboard td {
  padding: 8px;
  border: 1px solid var(--grey-border-color);
  text-align: center;
}

.result {
  width: fit-content;
  margin: 0 auto 10px auto;
  font-family: "Chakra Petch", sans-serif;
}

.current-result-wrapper {
  display: none;
  margin: 10px auto;
  padding: 7px;
  width: fit-content;
  height: fit-content;
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
}

.current-result table {
  width: var(--grid-width);
  border-collapse: collapse;
  background-color: var(--grey-bg-color);
  font-family: "Chakra Petch", sans-serif;
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

.current-result th {
  background-color: var(--grey-bg-color);
  color: #000000;
  padding: 8px;
}

.current-result td {
  padding: 8px;
  border: 1px solid var(--grey-border-color);
  text-align: center;
}

.leaderboard-title {
  font-family: "Chakra Petch", sans-serif;
}

.leaderboard-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-wrapper {
  margin: 0 auto;
  width: fit-content;
}

h1 {
  width: fit-content;
  margin: 30px auto;
  font-family: "Chakra Petch", sans-serif;
  font-size: 48px;
}

.main-footer {
  margin-top: auto;
}

#footer {
  margin: 30px auto 0 auto;
  max-width: 80vw;
  height: 40px;
  background: var(--grey-bg-color);
  padding-left: 50px;
  padding-right: 50px;

  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
}

#footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  font-family: sans-serif;
}

#footer ul > li svg {
  height: 25px;
  fill: #060606;
  transition: fill 0.3s ease;
}

#footer ul > li svg:active {
  height: 32px;
  background-color: var(--grey-bg-color);
  border-right: 3px solid var(--white-border-color);
  border-bottom: 3px solid var(--white-border-color);
  border-left: 3px solid var(--grey-border-color);
  border-top: 3px solid var(--grey-border-color);
}

#footer ul > li svg:hover {
  fill: var(--num-2-color);
}

#footer ul > li p {
  margin: 0;
  color: #060606;
  font-weight: 700;
}
