* {
  box-sizing: border-box;
}

:root {
  --grey-bg-color: #c6c6c6;
  --grey-border-color: #808080;
  --white-border-color: #FFFFFF;
  --num-color: #000000;
  --num-1-color: #244afc;
  --num-2-color: #407f07;
  --num-3-color: #fe0000;
  --num-4-color: #0d2180;
  --num-5-color: #801e17;
  --num-6-color: #008284;
  --num-7-color: #840084;
  --num-8-color: #757575;
  --cell-size: 30px;
  --grid-size-beginner: calc(var(--cell-size) * 9);
  --grid-size-intermediate: calc(var(--cell-size) * 16);
  --grid-size-expert-height: calc(var(--cell-size) * 16);
  --grid-size-expert-width: calc(var(--cell-size) * 30);
}

.grid {
  width: var(--grid-size-beginner);
  height: var(--grid-size-beginner);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 20px;
}

.cell-closed {
  background-color: var(--grey-bg-color);
  border-left: 3px solid var(--white-border-color);
  border-top: 3px solid var(--white-border-color);
  border-right: 3px solid var(--grey-border-color);
  border-bottom: 3px solid var(--grey-border-color);
}

.cell-active {
  background-color: var(--grey-bg-color);
  border-left: 2px solid var(--grey-border-color);
  border-top: 2px solid var(--grey-border-color);
  border-right: none;
  border-bottom: none;
}

.cell-opened {
  background-color: var(--grey-bg-color);
  border-left: 2px solid var(--grey-border-color);
  border-top: 2px solid var(--grey-border-color);
}

.cell-flag {
  background-image: url(../svg/flag.svg);
  background-size: cover;
}

.cell-mine {
  background-image: url(../svg/mine.svg);
  background-size: cover;
}

.cell-mine-clicked {
  background-color: #ff0000;
}
